@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
:root {
    --font: 'Fira Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(182, 227, 255)
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr;
}


/*Working on the sidebar*/

.sidebar {
    background-color: #0EA5E9;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.25fr 1fr 0.5fr 1fr;
    grid-template-columns: 1fr 1.5fr;
    grid-row: 1 / 4;
    align-content: center;
    justify-content: start;
    gap: 20px 100px;
}

.sidebar i,
span {
    color: white;
    font-weight: bold;
    font-family: var(--font);
}

span {
    justify-self: self-start;
    font-size: 18px;
    padding: 15px;
}

.sidebar i {
    padding: 10px;
    font-size: 1.5rem;
}

.first-section,
.second-section,
.dashboard {
    display: grid;
    grid-column-start: 1;
}

.second-section {
    margin-top: 30px;
}

.first-section div,
.second-section div,
.dashboard {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    justify-content: center;
    align-items: center;
}

.dashboard span {
    font-size: 24px;
    place-self: end;
    align-self: center;
    padding: 5px;
}

.dashboard i {
    font-size: 2.5rem;
    justify-self: end;
    padding: 5px;
}

.sidebar i {
    justify-self: self-end;
}


/*Working on the header*/

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 4;
    align-content: center;
}

.header i {
    font-size: 1.5rem;
}

.search {
    display: grid;
    grid-template-columns: 0.05fr 1fr;
    align-items: center;
    margin-left: 15px;
}

.search-bar {
    background-color: lightgray;
    height: 30px;
    width: 90%;
    border-radius: 30px;
}

.image img {
    width: 90px;
}

.small-image img {
    width: 60px;
}

p {
    font-family: sans-serif;
}

.main-profile {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.mini-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
    gap: 20px;
}

.name p {
    font-weight: bold;
    font-size: 18px;
}

.image {
    grid-row: 1 / 2;
    grid-column-start: 1;
    justify-self: center;
}

.text {
    grid-column-start: 2;
}

.text p:first-of-type {
    font-size: 14px;
    font-weight: bold;
}

.text p:last-child {
    font-size: 22px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 35px;
}

button {
    font-family: sans-serif;
    color: white;
    background-color: #0284C7;
    font-weight: bold;
    font-size: 16px;
    border-radius: 25px;
    height: 40px;
    width: 95px;
    border: none;
}

.announcements {
    grid-area: 2 / 3 / 3 / 4;
}

.trending {
    grid-area: 3 / 3 / 4 / 4;
}